/* Bandeau */
.mt-45{
    margin-top: 45px;
}

.mt-90{
    margin-top: 90px;
}

.mt-60{
    margin: 0;
    margin-top: 60px !important;
}
/* .......................................................................................... */

body{
    background-color: rgb(221, 221, 221) !important;
}

/* .page{
    /* background-color: rgb(221, 221, 221); */
    /* background-image: url("../images/aes-route.jpg") !important; */
    /* background-size: 100%;
    background-repeat: no-repeat;
    background: fixed; 
} */

.center{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    color: black;
}


.text-bg-black{
    background-color: rgba(0, 0, 0, 0.7);
}

.text-bleu{
    /* font-size: 17px; */
    color: #2a7bad;
    font-style: normal;
    font-weight: bolder;
}

.titre-bleu{
    color: #2a7bad;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}

.titre-bleu-no-font{
    color: #2a7bad;
}

.titre-red{
    color: #ac1018;
    font-weight: bold;
    font-size: 30px;
}

.titre-red-no-font{
    color: #ac1018;
}

.lien{
    color: #AD262C;
}

.text-red{
    color: #cc131d;
}

.lien:hover{
    color: #4682A8;
}

.btn-bleu{
    background-color: #4682A8;
    color: white;
}

.topbar-font{
    font-size: 21px !important;
}

.card-text{
    font-weight: bold;
}

.bg-grey{
    background-color: rgb(228, 228, 228) !important;
}

.text-grey{
    color: rgb(146, 146, 146);
}



